<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="documentosTransporteSOAP">
            <security mode="Transport">
              <transport clientCredentialType="Certificate" ></transport>
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>      
        <client>
            <endpoint address="https://servicos.portaldasfinancas.gov.pt:701/sgdtws/documentosTransporte"
                binding="basicHttpBinding" 
                bindingConfiguration="documentosTransporteSOAP"
                contract="AtIRCService.documentosTransporte" 
                name="documentosTransporteSOAP" />
        </client>
    </system.serviceModel>
</configuration>